//TOPMOST DEPENDENCY

$margin-base: 0.8em;
$margin-wide: $margin-base * 2;

$padding-base: 0.5em;
$padding-tich: $padding-base * 0.5;
$padding-comfy: $padding-base * 2;
$padding-roomy: $padding-base * 4;

$col-nums: 8 3 5;
$cap: 10;
$mult: 50;
$col-breakpoint : '500px';
$mobile-prefix: 'mobile-';

$radius-cap : 10;
$radius-mult: 3;

/* BREAKPOINTS */

$breakpoint-sm: 768px !default;
$breakpoint-md: 992px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-hg: 1800px !default;
$breakpoint-hg-vert: 900px !default;
$container-width: 1150px !default;


/* HEADER CONFIG */

$header-height-base: 5.7rem;
$header-main-height-base: ($header-height-base * 0.6666666667);
$header-lower-height-base: ($header-height-base * 0.3333333337);

/* GLYPHS */

$glyph-margin: 0.2em;