

$space-directions: top, right, bottom, left, center;
$valignments: baseline, top, bottom, middle, sub, super, text-bottom, text-top;
$talign: left center right;
$positions: absolute, fixed, relative;
$locations-v: top, bottom;
$locations-h: left, right;
