/* FONTS */

$font-family-site : 'Roboto',  sans-serif !default;
$font-family-heading : 'Roboto Condensed', sans-serif !default;
$font-family-label : $font-family-site, sans-serif !default;
$font-family-button : $font-family-site !default;
$font-family-form : $font-family-site, sans-serif !default;

$font-size-base : 9px !default;
$font-size-base-sm : 11px !default;
$font-size-base-md : 13px !default;
$font-size-base-lg : 15px !default;
$font-size-base-hg : 15px !default;
$font-size-scale-large : 1.3em !default;
$font-size-scale-huge : 2em !default;
$font-size-scale-enormous : 4.5em !default;
$font-size-scale-colossal : 10em !default;
$font-size-scale-small : 0.8em !default;
$font-size-scale-tiny : 0.6em !default;
$line-height-sum : 4 !default;

$font-size-normal: 1em !default;
$font-size-sub: 0.7em !default;
$font-size-sup: 1.2em !default;
$font-size-form-control: $font-size-normal !default;
$font-size-h1: 2.1em !default;
$font-size-h2: 1.6em !default;
$font-size-h3: 1.3em !default;
$font-size-h4: 1.25em !default;
$font-size-h5: 1.2em !default;
$font-size-h6: 1.1em !default;

