/// <reference path="../references.scss" />;


.scale-small{

        font-size: $font-size-scale-small;
}


.scale-tiny{

        font-size: $font-size-scale-tiny;
}


.scale-huge {
    font-size: $font-size-scale-huge;
}

.scale-large {
    font-size: $font-size-scale-large;
}

.scale-enormous {
    font-size: $font-size-scale-enormous;
}

.scale-colossal {
    font-size: $font-size-scale-colossal;
}


