/// <reference path="../references.scss" />;


/* GRID */

table.grid {
    width: 100%;
    border-collapse: collapse;
    overflow:auto;
    td, th {
        padding: 0.2em;
        text-align: left;
    }

    th {
        font-weight: 100;
        border-bottom: shade($color-border-table, 10%) 1px solid;

> a , > i{
    display: inline-block;
    vertical-align: middle;
}

    }


    td {
        border-bottom: $color-border-table 1px solid;
    }

    tr {

        &:nth-child(odd) {
            td{
                background-color: $color-row-table;
            }
            
        }

        &:first-child td {
            border-top: none;
        }

        &:last-child td {
            border-bottom: none;
        }
    }
}


/* COMPONENT SELECT TABLE */

table.component-select {
    border-collapse: collapse;
    width:100%;
    td, th {
        text-align: left;
        padding: 0.2em;
    }

    tr {
        transition: background-color 0.3s;

        &:nth-child(2n+1) {
            background-color: $color-row-table;
        }

        &:hover {
            background-color: $color-row-table-active;
        }
    }
}


.table-list{
    border-collapse: collapse;



       tr {
        transition: background-color 0.3s;

        &:nth-child(2n+1) {
            background-color: $color-row-table;
        }

        &:hover {
            background-color: $color-row-table-active;
        }
    }


       td{
           padding:0.5em;
       }
}

/* FIXED TABLE HEAD */

.fixed-table ul {
    text-transform: uppercase;
    font-size:0.8em;
    border-bottom:1px solid $color-border;
    
}


.fixed-table th [class^='icon'], .fixed-table th [class*='icon'] {
    line-height: 0;
}


/*@media only screen and (max-width: 760px) {

    table.responsive-table {
        display: block;

        tr:first-child {
            display: none;
        }

        td, tr, thead, tbody, th {
            display: block;
        }
    }

    table.responsive-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;

        &:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: 500;
        }
    }
}*/

