<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:300" rel="stylesheet">
    <script src="https://use.fontawesome.com/2b188f7cd7.js"></script>
    <link href='/styles.css' rel='stylesheet' type='text/css'>
</head>

<body>
  {% include './partials/_header.html' %}
    <section class="main">
        <section class="main-container">
            {% include './partials/_nav.html' %}
            <section class="main-content">
                {% block content %} {% endblock %}
            </section>
        </section>
    </section>
</body>

</html>